REGISTRATION_APP_URL=registration-pal-james-manuel.apps.evans.pal.pivotal.io
BACKLOG_APP_URL=backlog-pal-james-manuel.apps.evans.pal.pivotal.io
ALLOCATIONS_APP_URL=allocations-pal-james-manuel.apps.evans.pal.pivotal.io
TIMESHEETS_APP_URL=timesheets-pal-james-manuel.apps.evans.pal.pivotal.io
export TIMESHEETS_APP_URL ALLOCATIONS_APP_URL BACKLOG_APP_URL REGISTRATION_APP_URL
